<div class="login-container">
  <div class="login-image-background">
  </div>

  <div class="login-form-overlay">
    <div class="form-wrapper">
      <div class="header">
        <span class="logo">ECONOS</span>
        <p-button label="Cadastrar" icon="pi pi-arrow-right" iconPos="right" routerLink="/cadaster" [rounded]="true "
          variant="outlined" severity="secondary" />
      </div>

      <div class="form-content">
        <h1>Bem-vindo de volta!</h1>
        <p>Faça login para continuar.</p>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <p-floatlabel>
            <p-iconfield>
              <p-inputicon class="pi pi-user" />
              <input pInputText type="email" id="email" class="p-inputtext p-email-input" name="email"
                [invalid]="email.invalid && (email.touched || loginForm.submitted)|| loginInvalido"
                [(ngModel)]="login.email" #email="ngModel" autocomplete="off" required email />
            </p-iconfield>
            <label for="email">Email</label>
          </p-floatlabel>

          @if (email.invalid && (email.touched || loginForm.submitted) || loginInvalido) {
          <p-message severity="error" size="small" variant="simple">

            @if (email.hasError('required')) {
            E-mail é obrigatório.
            }

            @if (email.hasError('email')) {
            Digite um e-mail válido. Ex:teste@teste.com
            }

            @if (loginInvalido) {
            E-mail Inválido
            }
          </p-message>
          }

          <br>

          <p-floatlabel>
            <p-iconfield>
              <p-inputicon class="pi pi-unlock" />
              <p-password id="password" name="password" #password="ngModel"
                [invalid]="password.invalid && (password.touched || loginForm.submitted)|| loginInvalido"
                [(ngModel)]="login.password" [toggleMask]="true" [feedback]="false" required>
              </p-password>
            </p-iconfield>
            <label for="password" class="p-floatlabel-label">Senha</label>
          </p-floatlabel>

          @if (password.invalid && (password.touched || loginForm.submitted) || loginInvalido) {
          <p-message severity="error" size="small" variant="simple">

            @if (password.hasError('required')) {
            Senha é obrigatório.
            }

            @if (loginInvalido) {
            Senha Inválido
            }
          </p-message>
          }

          <br>

          <button pButton type="submit" label="Acessar" severity="info" [fluid]="true" [disabled]="loginForm.invalid">
          </button>
        </form>

        <p-divider align="center">
          <b>ou</b>
        </p-divider>

        <button pButton type="submit" label="Google" severity="contrast" [fluid]="true">
          <span class="pi pi-google"></span>
        </button>

      </div>
      <span class="ai-icon">Feito por Lucas-Santos732</span>
    </div>
  </div>
</div>
