<main>
    <section class="image-section">
        <img src="imageAccount.jpg" alt="Econos Login Background">
    </section>
    <section class="form-section">
        <h1>{{ title }}</h1>
        <h2>{{ subTitle }}</h2>
        <form class="form">
            <div class="field-form">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu E-mail">
            </div>
            <div class="field-form">
                <div class="password-labels-row">
                    <label for="password" class="label-password">Senha</label>
                    <a href="#" class="label-forgotten">Esqueceu a Senha?</a>
                </div>
                <input type="password" id="password" name="password" placeholder="Digite sua Senha">
            </div>

            <button type="submit" class="btn-submit">Entrar</button>

            <div class="signup-text">
                Não Tem Uma Conta? <a href="#">Cadastre-Se</a>
            </div>
            <div class="divider">
                <span>Ou</span>
            </div>
            <div class="social-login-buttons ">
                <button type="button" class="btn-social google">
                    <i class="fa-brands fa-google"></i>
                </button>
            </div>

        </form>
    </section>
</main>