<main>
    <nav>
        <ul>
            <button id="menu"><i class="fa-solid fa-bars fa-2xl" id="menu" (click)="abrirMenu()"></i></button>
            <p>Econos</p>
            <button id="user"><i class="fa-regular fa-circle-user fa-2xl"></i></button>
        </ul>
    </nav>
    <div id="mySidenav" class="sidenav" *ngIf="menuAberto">
        <div class="menu-row">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>

            <button id="arrow-left" (click)="fecharMenu()"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
        </div>

        <a href="#"><i class="fa-solid fa-chart-pie"></i> Dashboard</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

</main>